/* body{
  font-family: 'Airbnb Cereal App' !important;
  font-style: normal !important;
} */

.search{
    width: 900px !important;
    background-color: #CECECE !important;
  }

.thead{
    border-radius: 120px !important;
}

.buttonAdd{
  width: 100px !important;
  border-color: white !important;
}

p{
  color: rgb(238, 238, 14) !important;
}